:root {
  --menu-color: aqua;
  --hover-color: green;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body, ul, li {
  padding: 0px;
  margin: 0px;
}

#menu-bar {
  top: 0;
  background-color: var(--menu-color);
  display: flex;
  list-style: none;
  padding-left: 10px;
  width: 100vw;
}

#menu-bar li {
  padding: 4px 12px 4px 12px;
}

#menu-bar li:hover {
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

#file-tabs {
  /* display: flex; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 16%;
  /* gap: 0; */
  list-style: none;
  border-bottom: 1px solid black;
  height: 32px;
  overflow: hidden;
}

#file-tabs li {
  border: solid 3px green;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text-content {
  height: calc(100vh - 72px);
  overflow: scroll;
  margin-bottom: 10px;
  padding: 10px;
  outline: 0px solid transparent;
  white-space: pre;
  /* border: solid 3px black; */
}

.option {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  background-color: beige;
  padding: 4px;
  border-radius: 8px;
}

.option div {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.option div:hover {
  background-color: aqua;
  border-radius: 8px;
  cursor: pointer;
}

.hide {
  display: none;
}

.file {
  left: 16px;
  width: 248px;
}

.edit {
  width: 248px;
  left: 68px;
}

.view {
  width: 248px;
  left: 124px;
}

.setting {
  width: 248px;
  left: 186px;
}

